<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hexonomicon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <style>

    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 600px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/log_in">HEX</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'home' %>"><a href="/">Home</a></li>
        <li class="<%= 'active' if params[:controller] == 'about' %>"><a href="/about">About</a></li>
        <li class="<%= 'active' if params[:controller] == 'services' %>"><a href="/services">Services</a></li>
        <li class="<%= 'active' if params[:controller] == 'contact' %>"><a href="/contact">Contact</a></li>
        <li class="<%= 'active' if params[:controller] == '#' %>"><a href="/cart">Cart</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if params[:controller] == 'login' %>"><a href="/log_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      <div id="col_container">
        <%= yield %>
        <hr>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <div class="ad_container">
          <p class="sad_donut_text">Sad Donuts co.</p>
          <img id="sad_donut_image" src="/img/sad_donut.jpg" alt="">
          <p class="sad_donut_text">
            What happens to the half eaten, the stale and the forgotten donuts of this world?
          </p>
          <p class="sad_donut_text">We sell them to you for cheap</p>
          <p class="sad_donut_text">Sad Donuts co. on main street and 45th <br> 1-801-455-SAAD</p>
        </div>
      </div>
      <div class="well">
        <div class="ad_container">
          <p class="morbid_ad_text">Morbid Greetings</p>
          <img id="morbid_card_image" src="/img/morbid_card.jpg" alt="">
          <p class="morbid_ad_text">Need to tell someone "Sorry you're dying," but can't find a Hallmark card that cuts it?</p>
          <p class="morbid_ad_text">At Morbid Greetings we provide that card</p>
          <p class="morbid_ad_text">Morbid Greetings on State Street and 87th <br> 1-801-666-MORB</p>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Brought to you by The Code Coven. You can reach us individually at github: <br><a href="https://github.com/LindseyJ22" style="color: violet; margin-right: 10px;">Lindsey</a>  <a href="https://github.com/r0lfs" style="color: violet; margin-right: 10px;">Rolf</a> <a href="https://github.com/WestNorthern" style="color: violet; margin-right: 10px;">Ryan</a></p>
</footer>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
